# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/
mvp/
nlp_analysis/
semantic/


# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Data files (большие JSON)
parsers/*.json

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Временные файлы
*.tmp
*.bak

# Claude
.claude/
2v/cache/
*.pkl
*.bin
